@model LaiMinhDang.SachOnline.Models.SACH

@{
    ViewBag.Title = "Chi tiết Sách";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;">CHI TIẾT SÁCH</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Tên sách:</dt>
        <dd>@Html.DisplayFor(model => model.TenSach)</dd>

        <dt>Mô tả:</dt>
        <dd>@Html.Raw(Model.MoTa)</dd>

        <dt>Ảnh bìa:</dt>
        <dd>
            <img src="~/images/@Model.AnhBia" style="width: 200px;" />
        </dd>

        <dt>Ngày cập nhật:</dt>
        <dd>@Html.FormatValue(Model.NgayCapNhat, "{0:dd/MM/yyyy}")</dd>

        <dt>Số lượng bán:</dt>
        <dd>@Html.DisplayFor(model => model.SoLuongBan)</dd>

        <dt>Giá bán:</dt>
        <dd>@Html.FormatValue(Model.GiaBan, "{0:#,##0} VNĐ")</dd>

        <dt>Chủ đề:</dt>
        <dd>@Html.DisplayFor(model => model.CHUDE.TenChuDe)</dd>

        <dt>Nhà xuất bản:</dt>
        <dd>@Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)</dd>
    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id = Model.MaSach })" class="btn btn-warning">Sửa</a> |
    <a href="@Url.Action("Index")" class="btn btn-default">Về danh sách</a>
</p>