@model IEnumerable<LaiMinhDang.SachOnline.Models.NHAXUATBAN>

@{
    ViewBag.Title = "Danh sách nhà xuất bản";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2>DANH SÁCH NHÀ XUẤT BẢN</h2>

<p>
    @Html.ActionLink("Tạo mới", "ThemNXB", "NhaXuatBan")
</p>

<table class="table">
    <tr>
        <th>Tên NXB</th>
        <th>Địa chỉ</th>
        <th>Điện thoại</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TenNXB</td>
            <td>@item.DiaChi</td>
            <td>@item.DienThoai</td>
            <td>
                <a href="@Url.Action("Edit", "NhaXuatBan", new { id = item.MaNXB })">Sửa</a> |
                <a href="@Url.Action("Details", "NhaXuatBan", new { id = item.MaNXB })">Chi tiết</a>|
                <a href="@Url.Action("XoaNXB", "NhaXuatBan", new { id = item.MaNXB })">Xóa</a>
            </td>
        </tr>
    }
</table>
