@model LaiMinhDang.SachOnline.Models.SACH
@{
    ViewBag.Title = "ChiTietSach";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section slider{
    @Html.Action("SliderPartial", "SachOnline")
}
<style type="text/css">
    .tensach {
        color: red;
    }

    .ngaycapnhat,
    .giaban,
    .addtocard {
        text-align: right;
    }

    .anh-sach {
        width: 200px; /* chỉnh kích thước ảnh */
        height: 150px; /* giữ đúng tỉ lệ */
        display: block;
        margin: 10px auto; /* căn giữa */
    }
</style>
<div class="thumbnail">

    <h4 class="tensach text-center">
        @Model.TenSach
    </h4>

    <img src="@Url.Content("~/Images/" + Model.TenSach + ".jpg")" class="anh-sach" />


    <div class="motasach">
        <p>
            @Html.Raw(Model.MoTa.ToString()
                .Replace("\n", "</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"))
        </p>
    </div>

    <p class="ngaycapnhat">
        Ngày cập nhật:
        @Html.FormatValue(Model.NgayCapNhat, "{0:dd/MM/yyyy}")
    </p>

    <p class="giaban">
        Giá bán:
        <span>
            @Html.FormatValue(Model.GiaBan, "{0:#,###}") VND
        </span>
    </p>

    <p class="addtocard">
        <a href="@Url.Action("ThemGioHang", "GioHang", new { ms = Model.MaSach, url = Request.Url.ToString() })"
           class="btn btn-primary"
           role="button">
            <span class="glyphicon glyphicon-shopping-cart"
                  aria-hidden="true"></span>
            Thêm vào giỏ
        </a>
    </p>

</div>

