@using LaiMinhDang.SachOnline.Models
@using PagedList.Mvc
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section slider{
    @Html.Action("SliderPartial", "SachOnline")
}

<style>
    .imgbook {
        transition: all ease 0.5s;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

        .imgbook:hover {
            transform: scale(1.1);
        }
</style>

<h2 class="text-center">SÁCH MỚI</h2>
<hr />

<div class="row text-center">

    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">

                <a href="@Url.Action("ChiTietSach", "SachOnline", new { id = sach.MaSach })">
                    <img src="~/Images/@sach.AnhBia"
                         class="img-responsive img-rounded imgbook" />
                </a>

                <div class="caption">

                    <h4 style="min-height:60px;">
                        <a href="@Url.Action("ChiTietSach","SachOnline", new { id = sach.MaSach })">
                            @sach.TenSach
                        </a>
                    </h4>

                    <p>Mô tả tóm tắt sản phẩm</p>

                    <p>
                        <a href="@Url.Action("ThemGioHang", "GioHang", new { ms = sach.MaSach, url = Request.Url.ToString() })"
                           class="btn btn-primary">

                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Thêm vào giỏ
                        </a>
                    </p>

                </div>

            </div>
        </div>
    }

</div>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>

@section sachbannhieu{
    @Html.Action("SachBanNhieuPartial", "SachOnline")
}