@using LaiMinhDang.SachOnline.Models
@using PagedList.Mvc
@model PagedList.PagedList<SACH>
@{
    ViewBag.Title = "SachTheoNhaXuatBan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@section slider{
    @Html.Action("SliderPartial", "SachOnline")
}
<h2 class="text-center">
    SÁCH THEO NHÀ SẢN XUẤT:
    @(ViewBag.TenNXB ?? "Không xác định")
</h2>

<hr />

<div class="row text-center">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <a href="@Url.Action("ChiTietSach", "SachOnline", new { id = sach.MaSach })">
                    <img src="~/Images/@sach.AnhBia"
                         class="img-responsive img-rounded imgbook"
                         style="width:100%; height:400px; object-fit:cover;" />
                </a>

                <div class="caption">
                    <h4 style="min-height:70px;">
                        <a href="@Url.Action("ChiTietSach","SachOnline",
                            new { id = sach.MaSach })">
                            @sach.TenSach
                        </a>
                    </h4>
                    <p>
                        <a href="@Url.Action("ThemGioHang", "GioHang", new { ms = sach.MaSach, url = Request.Url.ToString() })" class="btn btn-primary">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Thêm vào giỏ
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
    <div class="clearfix"></div>
</div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SachTheoNhaXuatBan", new { id = ViewBag.MaNXB, page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>


