@using LaiMinhDang.SachOnline.Models
@using PagedList.Mvc
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "Sách theo chủ đề";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 class="text-center">
    SÁCH THEO CHỦ ĐỀ: @ViewBag.TenChuDe
</h2>

<hr />

<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <a href="@Url.Action("ChiTietSach", "SachOnline", new { id = item.MaSach })">
                    <img src="~/Images/@item.AnhBia"
                         class="img-responsive img-rounded imgbook" />
                </a>

                <div class="caption">
                    <h4 style="min-height:70px;">
                        <a href="@Url.Action("ChiTietSach", "SachOnline", new { id = item.MaSach })">
                            @item.TenSach
                        </a>
                    </h4>

                    <p style="color:red;font-weight:bold">
                        @String.Format("{0:0,0}", item.GiaBan) VNĐ
                    </p>

                    <p>
                        <a href="@Url.Action("ThemGioHang", "GioHang", new { ms = item.MaSach, url = Request.Url.ToString() })" class="btn btn-primary">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SachTheoChuDe", new { id = ViewBag.MaCD, page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>